node_modules
dist
.DS_Store
.env
.env.*
coverage

# TypeScript build artifacts
**/*.tsbuildinfo
**/*.base.json
**/tsconfig.build.json

# Workspace config files (backend e frontend)
**/tsconfig.json
**/tsconfig.node.json
**/vite.config.*
**/postcss.config.*
**/tailwind.config.*
**/nest-cli.json
**/prisma.config.*
backend/public/

# Vite and other caches
.vite
.parcel-cache
.turbo

# OS and editor
.DS_Store
.vscode/
.claude/
*.log
