@import "tailwindcss";

@theme {
  --color-dark-bg: #05070d;
  --color-card-bg: #0b1229;
}

body {
  margin: 0;
  background-color: #05070d;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
